<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="addressbook" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<header class="w3-container w3-teal">
  <h1>Elastic Address Book</h1>
</header>

<div class="w3-container w3-half w3-margin-top">
  <div class="w3-container w3-card-4" method="get">
    <p><a href="http://127.0.0.1:5000/add" class="w3-button w3-section w3-teal w3-ripple"> Add Contact </a></p>
    <p><a href="http://127.0.0.1:5000/update" class="w3-button w3-section w3-teal w3-ripple"> Update Contact </a></p>
    <p><a href="http://127.0.0.1:5000/delete" class="w3-button w3-section w3-teal w3-ripple"> Delete Contact </a></p>
    <p><a href="http://127.0.0.1:5000/list" class="w3-button w3-section w3-teal w3-ripple"> List Contacts </a></p>
    <p><a href="http://127.0.0.1:5000/list" class="w3-button w3-section w3-teal w3-ripple"> Search Contacts </a></p>
  </div>
</div>

</body>
</html> 