<!DOCTYPE html>
<html>
<title>EAB for EAI</title>
<meta name="list" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>

  <header class="w3-container w3-teal">
    <h1>Elastic Address Book</h1>
    <a href="/"">Home</a>
    <a href="add"">Add</a>
    <a href="update"">Update</a>
    <a href="delete"">Delete</a>
    <a href="search"">Search</a>
    <a href="list"">List</a>
    <a href="query"">Query</a>
  </header>
  <div class="w3-container w3-half w3-margin-top">
    <form class="w3-container w3-card-4" method='GET'>
      <h2>Show Contact List</h2>
      <p>
        <textarea id="query" class="text" style="width:90%"" rows ="10" name="query"></textarea>
        <label>Elasticsearch Query</label></p>
      <p>
        <button class="w3-button w3-section w3-teal w3-ripple"> Show List </button></p>
    </form>
  </div>
</body>

</html>