<!DOCTYPE html>
<html>
<title>EAB for EAI</title>
<meta name="update" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>

  <header class="w3-container w3-teal">
    <h1>Elastic Address Book</h1>
    <a href="/"">Home</a>
    <a href="add"">Add</a>
    <a href="update"">Update</a>
    <a href="delete"">Delete</a>
    <a href="search"">Search</a>
    <a href="list"">List</a>
    <a href="query"">Query</a>
  </header>

  <div class="w3-container w3-half w3-margin-top">
    <form class="w3-container w3-card-4" method='GET'>
      <h2>Update Contact</h2>
      <p>
        <input class="w3-input" type="text" id="name" name="name" value="{{name}}" style="width:90%" required>
        <label>Name</label></p>
      <p>
        <input class="w3-input" type="text" id="addr" name="addr" value="{{addr}}" style="width:90%">
        <label>Address</label></p>
      <p>
        <input class="w3-input" type="text" name="email" id="email" value="{{email}}" maxlength="150" style="width:90%">
        <label>Email Address</label></p>
      <p>
        <input class="w3-input" type="text" id="phnm" name="phnm" value="{{phnm}}" style="width:90%" >
        <label>Phone Number</label></p>

      <p>
        <button class="w3-button w3-section w3-teal w3-ripple"> Update </button></p>
    </form>
  </div>
</body>

</html>